:root{
--Very-Dark-Blue: hsl(243, 87%, 12%);
--Desaturated-Blue: hsl(238, 22%, 44%);
--Bright-Blue: hsl(224, 93%, 58%);
--Moderate-Cyan: hsl(170, 45%, 43%);
--Light-Grayish-Blue: hsl(240, 75%, 98%);
--Light-Gray: hsl(0, 0%, 75%);

--font_400: 400;
--font_700: 700;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif; 
    /* font-family: 'Raleway', sans-serif;*/
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.flex__align{
    align-items: center;
}

.flex__justify{
    justify-content: center;
}

.padd__hor{
     padding: 4rem 0;  
}

.padd__vertical{
   padding: 0 3.5rem;
}

.inner__container{
    max-width: 144rem;
    margin: 0 auto;
}

 

.hero__wrapper {
    background: url('images/bg-curve-mobile.svg') white;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.hero__content{
    padding-top: 2.5rem;
    padding-bottom: 10rem;
}


/* ===== start of header ===== */
.header__logo__wrapper, .header__logo__wrapper img{
    display: block;
    width: 8rem;
    margin-right: auto;
}


.header__nav__item{
    list-style-type: none;
    flex:1 1 auto;
    text-align:center;
    margin: 0rem 0.5rem;
}

.header__nav__item a{
    color: var(--Very-Dark-Blue);
    position: relative;
}

.header__nav__item a::after{
    content: '';
    width: 0%;
    height: 0.1rem;
    display: block;
    background-color: var(--Very-Dark-Blue);
    position: absolute;
    transition: width 0.3s ease-in-out;
}

.header__nav__item a:hover::after{
    width: 100%;
}

/* ===== end of header ===== */

/* ===== start of hero ===== */
.hero{
    padding: 6rem 0rem;
    text-align: center;
}

.hero__img__wrapper img{
    max-width: 100%;
    object-fit: cover;
}

.hero__heading{
    font-size: 2.2rem;
    font-weight: var(--font_700);
    line-height: 1.5;
}

.hero__dec{
    margin: 2rem 0;
    line-height: 1.5;
}

.heading{
        font-family: 'Raleway', sans-serif;
}

.btn{
    border: none;
    cursor: pointer;
    background-color: var(--Bright-Blue);
    border-radius: 0.2rem;
    color: white;
    font-size: 1.6rem;
    font-weight: var(--font_700);
    font-family: 'Raleway', sans-serif;
    height: 3.5rem;
    position: relative;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn:hover::before{
    opacity: 1;
}

.input{
    height: 3.5rem;
    padding: 0 2rem;
    border: 0.1rem solid #555;
    border-radius: 0.2rem;
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.4rem;     
}

.cta__input{
        width: 100%;
}

.input::placeholder{
    color: gray;
}

.btn__cta{
    width: 100%;
    margin-top: 1.5rem;
}
/* ===== end of hero ===== */


/* ===== start of productive ===== */
.productive__wrapper{
    background-color: var(--Light-Grayish-Blue);
}

.productive {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.productive__img img{
    display: block;
    max-width: 100%;
}

.productive__heading{
    font-size: 1.8rem;
}

.productive__text{
    padding: 4rem 0;
    flex-direction: column;
    align-items: center;
}

.productive__desc{
    margin: 2rem 0;
}


.productive__link{
    color: var(--Moderate-Cyan);
    display: inline-block;
}

.productive__link img{
      margin-left: 0.5rem;
      position: relative;
      top: 0.3rem;
}

.productive__link::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.2rem;
    background-color: var(--Moderate-Cyan);
    position: relative;
    top: 0.4rem;
}

/* ===== start of productive testimonials ===== */

.productive__testimonial{
    max-width: 35rem;
    margin: 4rem 0rem;
    padding: 2rem;
    background-color: white;
    box-shadow:  0rem 0rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.productive__testimonial__text{
    margin: 1.5rem 0;
}

.testimonial__about img{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.5rem;     
}

.name{
    display: block;
    font-size: 1.2rem;
    font-weight: var(--font_700);
}
.status{
    font-size: 1rem;
}
/* ===== end of productive testimonials ===== */

/* ===== end of productive ===== */


/* ===== start of cta ===== */
  .cta__sec__wrapper{
      background-color: var(--Desaturated-Blue);
  }
  .cta__sec{
      padding-top: 6rem;
      padding-bottom: 6rem;
      color: white;
  }

  .cta__heading{
      font-size: 1.8rem;
      text-align: center;
  }

  .cta__dec{
      margin: 2.5rem 0;
  }

.cta__bot{
    padding: 0 3rem;
}

/* ===== end of cta ===== */


/* ===== start of footer ===== */
.footer__wrapper{
    background-color: var(--Very-Dark-Blue);
}
.footer{
    padding-top: 8rem;
    padding-bottom: 6rem;
    color: white;
}
.footer__content{
    margin-top: 2rem;
}

.footer__contact__item{
    margin-bottom: 2rem;
}

.footer__contact__item img{
    margin-right: 2rem;
}

.footer__nav{
    list-style-type: none;
}

.col_1{
      margin-top: 4rem;
}

.col_2{
    margin-bottom: 4rem;
}

.footer__nav__link{
    color: white;
    display: block;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
}

.footer__nav__link:hover{
    color: var(--Bright-Blue);
}

.footer__social__links a{
    text-decoration: none;
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid white;
    margin: 0 0.5rem;
    transition: all 0.3s ease-in-out;
}

.footer__social__links a:hover{
       color: var(--Bright-Blue);
       border-color: var(--Bright-Blue);
}





/* ===== end of footer ===== */



@media screen and (min-width: 480px) {
    .header__logo__wrapper, .header__logo__wrapper img{
        width: 12rem;
    }

    .header__nav__item{
        margin: 0rem 1.5rem;
    }

    .hero__heading{
        font-size: 3rem;
    }
  }

  @media screen and (min-width: 550px) {
      .cta{
          display: flex;
      }

      .cta__input{
           /* flex: 2 1 40rem;    */
           flex: 2 1 40rem;   
    }
      .btn__cta{
            margin-top: 0;
            margin-left: 1.5rem;
            /* flex: 1 2 20rem;    */
            flex: 1 1 20rem;   
        }
  }
  
  
  @media screen and (min-width: 768px) {
    
    .hero__wrapper{
    background: url('images/bg-curve-desktop.svg') white;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    }
    
    .hero{
            display: flex;
            align-items: center;
            text-align: left;
            /* padding: 5rem 0; */
        }

        .hero__img__wrapper{
            order: 1;
            flex: 1;
            margin-left: 4rem;
        }

        .hero__text{
            flex: 1;
        }

        .productive{
            display: flex;
            align-items: center;
        }

        .productive__img{
            order: 1;
            margin-left: 4rem;
            flex: 1;
        }

        .productive__text{
            flex: 1;
            padding: 0;
            align-items: flex-start;
        }

        .productive__heading{
            font-size: 2.5rem;
        }
      
       .cta__heading{
           font-size: 2rem;
           text-align: left;
       }

       .cta__sec{
           display: flex;
           justify-content: space-between;
       }

        .cta__text, .cta__bot{
           width: 40%;
        }

        .cta__bot{
           display: block;
        }

    
        .bot__input{
            max-width: 45rem;
        }

        .cta__bot__btn{
            margin-top: 1rem;
            max-width:  20rem;
            margin-left: 0rem;
        }

        .cta__dec{
            margin-bottom: 0;
        }

        .footer__content{
            display: flex;
            justify-content: space-between;
        }
       
        .col_1{
            margin-top: 0;
        }
        .col_2{
            margin-bottom: 0;
        }

    }
  
    @media screen and (min-width: 1024px) {
     
      }
  
  @media screen and (min-width: 1200px) {
  
  }